@use "variables";
@use "mixins";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: variables.$light-color;
  b {
    font-weight: 700;
  }
  body {
    background-color: variables.$dark-color;
    .main {
      @include mixins.flex(column, $gapY: 20px);
    }
    .container {
      margin: 1rem 2rem;
      @media (min-width: 900px) {
        margin: 2rem 10rem;
      }
    }
  }
  ul {
    list-style-type: none;
  }
}
.flex-col {
  @include mixins.flex(column);
}
.flex-center {
  @include mixins.flex($content: center);
}
.template {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero-container {
  @include mixins.flex(column, $gapY: 15px);
  h1 {
    @include mixins.section-header();
  }
  p {
    width: 50%;
  }
}

.navbar {
  @include mixins.flex();
  justify-content: space-between;
  align-items: center;
  &-title {
    font-size: 1.5rem;
    font-weight: bolder;
    color: variables.$light-color;
  }
  &-list {
    @include mixins.flex();
  }
  &-link {
    @include mixins.link();
    margin-right: 1.25rem;
    &-active {
      border-bottom: 3px solid variables.$primary-color;
    }
  }
}

.footer {
  @include mixins.flex();
  justify-content: center;
  margin-top: auto;
  padding: 20px 0;
}

.data {
  &-container {
    @include mixins.flex(column, $gapY: 15px);
  }
  &-header {
    @include mixins.section-header();
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;
    &-child {
      @include mixins.flex(column, center);
      // border: 1px solid $primary-color;
      flex: 1 1 100%;
      padding: 15px 0;
      background-color: #2e3335;
      @media (min-width: 900px) {
        flex: 1 1 calc(50% - 20px);
      }
      span {
        text-align: center;
      }
      .value {
        font-size: 50px;
        font-weight: bolder;
      }
      .title {
        text-transform: capitalize;
      }
    }
  }
  &-footer {
    @include mixins.flex($content: space-between);

    p {
      font-size: small;
      color: #cbcdce;
      span {
        padding: 5px 0;
        display: block;
        font-size: large;
        filter: brightness(130%);
        color: variables.$light-color;
      }
    }
    a {
      @include mixins.link;
      margin-top: auto;
    }
  }
}

.button {
  @include mixins.link();
  background-color: transparent;
  border: none;
  border-bottom: 2px solid variables.$primary-color;
  border-radius: 2px;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 16px;
  &:hover {
    background-color: variables.$primary-color;
    color: variables.$light-color;
    cursor: pointer;
  }
}
