<template>
  <header class="navbar container">
    <h1 class="navbar-title">Batam Lawan Corona</h1>
    <ul class="navbar-list">
      <li><NuxtLink class="navbar-link" to="/">Beranda</NuxtLink></li>
      <li>
        <NuxtLink class="navbar-link" to="/harian">Data Harian</NuxtLink>
      </li>
      <li>
        <NuxtLink class="navbar-link" to="/kecamatan">Data Kecamatan</NuxtLink>
      </li>
    </ul>
  </header>
</template>

<script>
export default {
  name: "Header",
};
</script>
